nav{
background-color: aqua;
align-items: center;
justify-content: center;
display: flex;
}

nav h2{
  padding: 1.5rem;
}
span {
color: rgb(255, 8, 8);
font-size: 20px;
}
.card{
  text-align: center;
  justify-content: center;
  background-color: antiquewhite;
}

.chekout{
  background-color: aquamarine;
}